.m-t-column{
	margin-top: 36px;
}
.m-t-tab-table{
	margin-top: 16px;
}
.p-0{
	padding: 0px;
}

.h-100-per{
	height: 100%;
}
.w-200{
	width:200px;
}
.w-150{
	width:150px;
}

.style-select2 .select2-container--default{
	width: 100% !important;
}
.style-select2 .select2-container--default .select2-selection--single{
	width: 100% !important;
}
.border-none{
	border: none !important;
}
.bg-transparent{
	background: #ffffff00 !important;
}

.sb-1 {
	padding-left: 1rem !important;
}
.sb-2 {
	padding-left: 2rem !important;
}
.sb-3 {
	padding-left: 3rem !important;
}
.sb-4 {
	padding-left: 4rem !important;
}
.sb-5 {
	padding-left: 5rem !important;
}
.sb-6 {
	padding-left: 6rem !important;
}

.table-app th, .table-app td, .table-detail th, .table-detail td {
    padding-top: 0.15rem !important;
    padding-right: 0.25rem !important;
    padding-bottom: 0.15rem !important;
}

.loader{
	bottom: 50% !important;
    right:50% !important;
}

.bg-blue-th{
	background: #007bff;
    color: white !important;
}

.bg-edited{
	background: #f7e986 !important;
}

.tr-gray th{
	background: #f0f0f0 !important;
}
.tr-gray:hover th{
	color: #000 !important;
}
.color {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.tableFixHead          { overflow: auto; height: 100px; width: 240px; }
.tableFixHead thead th { position: sticky; top: -0; z-index: 1; }
.tableFixHead tbody th { position: sticky; left: 0; }
.bg-grey{
	background: #f1f1f1 !important;
}

.form-select .select2-container--default .select2-selection--single{
	min-width: auto !important;
	width: auto !important;
}

.min-150{
	min-width: 150px;
}

.multiple .select2-container{
	width: 100% !important;
}

.custom-nav a{
	font-size: 9px;
}
.custom-nav li{
	border: 1px solid #ccc;
	width: 135px;
	margin-top: 2px !important;
	margin-left: 2px;
	border-radius: 5px;
}
.custom-nav .nav-link {
    border-radius: 5px !important;
}
ul.custom-nav {
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}